* {
    padding: 0;
    margin: 0;
}

:root {
    --icon-size: 30px;
    --sidebar-size: 335px;
    --icon-size-off: -335px;
    --edit-box-width: 350px;
    --edit-box-height:300px;
    --search-size: 28px;
}

html, body {
    display: flow-root;
    width: 100vw;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;
    background-color: rgb(196, 196, 196);
    font-weight: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

input:focus,
textarea:focus {
    outline: none;
}

header {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 45px;
    position: relative;
    color: rgb(0, 0, 0);
}

.logo {
    width: 100px;
    height: 100%;
    background-image: url("icon/logo.png");
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: 5px center;
}

.searchBox {
    width: 200px;
    height: var(--search-size);
    position: absolute;
    right: 25px;
    top: 6px;
    background-color: rgb(226, 226, 226);
    border-radius: var(--search-size);
    padding-left: 10px;
    padding-right: 10px;
}

.reloadBtn {
    width: var(--search-size);
    height: var(--search-size);
    position: absolute;
    right: 255px;
    top: 8px;
    background-image: url('icon/reload.png');
    background-size: calc(var(--search-size) - 8px);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.main {
    width: 100vw;
    height: calc(100vh - 45px);
    margin-top: 2px;
}

.sidebar {
    width: var(--sidebar-size);
    height: calc(100vh - 45px);
    left: var(--icon-size-off);
    background-color: rgb(236, 236, 236);
    position: absolute;
    display: flow-root;
    align-items: center;
    transition: 0.8s;
    border-radius: 10px;
    user-select: none;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mylist {
    width: 99%;
    height: calc(100vh - 42px);
    background-color: rgb(201, 201, 201);
    overflow-y: scroll;
    overflow-x: scroll;
    user-select: none;
}

.checkbox {
    width: 100%;
    display: block;
    cursor: pointer;
    margin: 3px 15px;
}

.once-line {
    margin: 10px 5%; 
    height: 1px; 
    background-color: rgb(161, 160, 160); 
    width: 90%;
}

.dog-month, .dog-year {
    padding: 2px 3px;
    margin: 0px 5px;
    font-size: 17px;
    font-weight: bold;
}

.shirts, .actor {
    padding: 7px;
}

.buttonBox {
    width: calc(var(--icon-size) + 4px);
    position: absolute;
    top: 70px;
    left: 5px;
    transition: 0.8s;
    background-color: rgba(255, 255, 255, 0.432);
    border-radius: 3px;
}

.sideBtn {
    background-image: url("icon/setting.png");
}

.addBtn {
    background-image: url("icon/add.png");
}

.addBtn, .sideBtn {
    width: var(--icon-size);
    height: var(--icon-size);
    background-size: calc(var(--icon-size) - 7px);
    border-radius: 3px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2px;
}

.addBtn:active, .sideBtn:active {
    background-color: aqua;
}

.boLoc, .boLocCheck {
    margin-left: 5px;
    margin-bottom: 50px;
    font-style: italic;
}

.edit {
    font-style: italic;
    color: blue;
    width: 28px;
    border-bottom: 1px solid;
    margin: 0px 5px;
}

.edit:active {
    color: black;
}

.editBox {
    width: var(--edit-box-width);
    height: var(--edit-box-height);
    display: none;
    position: absolute;
    top: calc((100vh - var(--edit-box-height)) / 2);
    left: calc((100vw - var(--edit-box-width)) / 2);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.editlist {
    width: calc(var(--edit-box-width) - 22px);
    height: calc(var(--edit-box-height) - 70px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 5px;
    border-color: rgb(211, 211, 211);
    padding: 5px;
    background-color: rgba(218, 218, 218, 0.384);
    overflow-y: scroll;
    overflow-x: hidden;
}

.editlisttype {
    width: calc(var(--edit-box-width) - 90px);
    margin: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
}

.editlistrmv {
    width: 25px;
    height: 25px;
    margin: 7px;
    font-weight: bolder;
    background-image: url('icon/trash.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border-radius: 3px;
}

.editlistrmv:active{
    background-color: rgba(0, 192, 250, 0.808);
}

.editBoxBtn {
    width: 70px;
    height: 25px;
    border: 0;
    margin-top: 18px;
    border-radius: 3px;
    font-weight: bolder;
}

.editBoxBtn:active {
    background-color: rgb(0, 217, 255);
}

.addShirtBox {
    width: 360px;
    height: 500px;
    display: none;
    background-color: aliceblue;
    position: absolute;
    top: calc((100vh - 500px) / 2);
    left: calc((100vw - 380px) / 2);
    border-radius: 10px;
    padding: 10px;
}

.addShirtTypeBox {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 40px);
}

.addShirtBtn {
    padding: 4px 7px ;
    border: 0;
    margin-top: 15px;
    border-radius: 3px;
    font-weight: bolder;
    background-color: rgb(165, 245, 255);
}

.addShirtBtn:active {
    background-color: rgb(0, 225, 255);
}

.addImage {
    width: 100%;
    background-color: rgb(219, 219, 219);
    border-radius: 7px;
}

input[type="file"] {
    z-index: -1;
    color: #ff0000;
    width: 100%;
    height: 100%;
    background: rgb(0, 136, 255);
    border: none;
    opacity: 0;
}

.addImageBtn {
    background-color: rgb(165, 245, 255);
    height: 30px;
    text-align: center;
    padding: 0;
    border-radius: 5px;
    background-image: url('icon/addImage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85px;
}

.addImageBtn:active {
    background-color: rgb(0, 225, 255);
}

.addBoxType {
    background-color: rgba(0, 0, 0, 0); 
    border-color: rgba(0, 0, 0, 0); 
    border-bottom: black 1px solid; 
    width: 97%;
    font-size: 18px;
}

.addShirtSelect {
    background-color: rgba(0, 0, 0, 0); 
    border-color: rgba(0, 0, 0, 0); 
    border-bottom: black 1px solid;
    width: 20%;
    font-size: 18px;
}

.addColor {
    width: 100%;
    height: 25px;
    display: inline-flex;
    white-space: nowrap;
    margin-bottom: 10px;
}

.addColors {
    width: 100%;
}

.addColorTypeCl, .addColorTypeNb {
    background-color: rgba(0, 0, 0, 0); 
    border-color: rgba(0, 0, 0, 0); 
    border-bottom: black 1px solid;
    font-size: 18px;
}

.removeColor {
    width: 25px;
    height: 25px;
    background-image: url('icon/trash.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    margin-left: 10px;
    border-radius: 3px;
}

.removeColor:active {
    background-color: aqua;
}

.viewDate {
    color: rgb(134, 134, 134);
    padding: 10px;
    width: 55px;
    font-size: 16px;
}

.viewDateLine {
    width: calc(100% - 80px);
    height: 23px;
    color: rgb(134, 134, 134);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0); 
    border-color: rgba(0, 0, 0, 0); 
    border-bottom: rgb(134, 134, 134) 1px solid;
    padding: 0;
    margin-top: 0;
    margin-left: 7px;
}

.items {
    max-width: 550px;
    min-width: 420px;
    background-color: rgb(226, 226, 226);
    border-radius: 7px;
    margin: 5px;
    display: flex;
}

.itemsImage {
    width: 230px;
    height: auto;
    object-fit: contain;
    background-color: rgba(240, 248, 255, 0);
    margin: 5px;
    border-radius: 3px;
}

.itemLabel {
    padding: 12px;
    width: 100%;
    height: calc(100% - 80px);
    word-wrap: normal;
    overflow-y: scroll;
    text-overflow: clip;
    font-size: 16px;
    line-height: 1.4;
}

h2 {
    color: #3c00ac;
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;
    line-height: 2;
}

h5::first-line {
    font-size: 18px;
    color: black;
}

.viewBtn {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.viewBtn:active {
    background-color: aqua;
}